#current_tweet
  %h6 Readtome tweets books, articles, and more&hellip;
  - unless @current_story.blank?
    - unless @current_story.tweet.blank?
      %h1== #{@current_story.tweet}&hellip;
    - else
      %h1.suggest &hellip;
    %p
      Latest reading from 
      %a{:href => @current_story.story_link}== #{@current_story.title} by #{@current_story.author}
  - else
    %h1.suggest Readtome is currently not tweeting anything.

.c
  #upcoming_votes.left
    %h3 Upcoming Stories
    %p Vote your pick for the next item to be read.
    #upcoming_list
      - if @stories.size > 0
        - for story in @stories
          = partial "layout/chunks/vote_list", :story => story
      - else
        %p There are no upcoming stories.
  #suggestion_box.right
    = partial "layout/chunks/suggest_box"