%html{:xmlns => "http://www.w3.org/1999/xhtml", :"xml:lang" => "en-us", :lang => "en-us"}
  %head
    %title Fresh Merb App
    %meta{:"http-equiv" => "content-type", :content => "text/html; charset=utf-8"}
    = css_include_tag :all, :media => "all"
    = css_include_tag :print, :media => "print"

  %body{:id => "#{params[:controller]}_#{params[:action]}"}
    #wrapper
      #header.c
        = partial 'layout/common/topbar'
        = partial 'layout/common/titlebar'

      #content_area.c
        #content.left
          - unless message[:notice].blank?
            #notice_message
              = message[:notice]

          = catch_content :for_layout
        #sidebar.right
          = partial 'layout/common/sidebar'

      #footer.c
        = partial 'layout/common/footer'