.story_titlebar
  %h1 The List
  %h6 A list of all previously read and upcoming stories.

.c
  .left
    .story_titlebar
      %h4= typeof_story('upcoming')
    - if @stories.size > 0
      - for story in @stories
        = partial "layout/chunks/vote_list", :story => story
    - else
      %p.suggest= typeof_list_none('upcoming')

  .right
    .story_titlebar
      %h4= typeof_story('previous')
    - if @previous_stories.size > 0
      - for story in @previous_stories
        = partial "layout/chunks/vote_list", :story => story, :vote => false
    - else
      %p.suggest= typeof_list_none('previous')